.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  border: 1px dotted black;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 20px;
}

.dob {
  width: 307px;
  font-weight: bold;
}

.form {
  margin-top: 100px;
}

.passenger {
  color: red;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
}

.removePassenger {
  text-align: right;
  cursor: pointer;
  &:hover {
    color: red;
    transition: 0.25s;
  }
}
